@import './media-menu.scss';



/* General items */




.mega-menu-container{
    padding: 0 100px;
}

.mega-menu-container li{
  list-style-type:none;
  cursor:pointer;

}

.mega-menu-row {
        margin: 90px auto 0 auto;
        width: 100%;
        max-width: 1350px;
        display:flex;
}

.mega-menu-row .col-left {
      width:230px;
      border-right:2px solid #E2E2E2;
}


 .mega-menu-row .col-right {
   width: calc(100% - 230px);
   padding-left:15px;
}



 .col-right .mega-row{
   display:flex;
   width:100%; 
   flex-wrap:wrap;
 }


.menu-col{
  display:flex;
  flex-direction: column;
  padding-right:15px;
}

.menu-img{
  position:relative;
  color:#ffff;
  padding-bottom:20px;
}

.menu-img h3{
  position:absolute;
  top:10px;
  left:20px;
  color:#ffff;
}

.menu-col .menu-img img{
  width:100%;
  height:auto;
  object-fit:cover;
}

.first-col {
  min-width:400px;
  
}

.second-col {
  min-width:300px;
}

.third-col{
  min-width:300px;
}

.col-left ul {
    padding-top:25px;
    display:flex;
    flex-direction:column;
    max-width:200px;
}

.col-left li {
    font-weight:bold;
    font-size:18px;
    padding-bottom:15px;
    display:flex;
    align-items:center;
}


.col-left li::after{
    content:" ";
    display: block;
    float: right;
    margin-top: .25em;
    border-color: transparent;
    border-top-color: #D00;
    border-style: solid;
    border-width: .5em .31em 0;
    width: 0;
    height: 0;
    position: relative;
    border-width: .31em 0 .31em .5em;
    border-top-color: transparent;
    border-left-color: #5A5A5A;
    margin-left:10px;
    transform:scale(0.7);
}

.sub-item-row{
    display:flex;
    align-items:flex-start;
    position:relative;
    width:100%;
}





.plus-submenu{
    position:absolute;
    right:0px;
   
}


.plus-submenu li {
    color:#707070;
}

.sub-item{
    display:flex;
    align-items:center;
    padding-bottom:5px;
    cursor:pointer;
    color:#707070;
    
}

.sub-item::after{
    content:" ";
    display: block;
    float: right;
    margin-top: .25em;
    border-color: transparent;
    border-top-color: #D00;
    border-style: solid;
    border-width: .5em .31em 0;
    width: 0;
    height: 0;
    position: relative;
    border-width: .31em 0 .31em .5em;
    border-top-color: transparent;
    border-left-color: #5A5A5A;
    margin-left:10px;
    transform:scale(0.7);
}

.menu-col{
    padding-top:25px;
}

.col-submenu{
   
    padding-left:10px;
    padding-right:10px;
}



.sub-item:hover{
    transition:all 0.4s ease;
    color:#3176C4;
}





.col-left li:hover{
    color:#3176C4;
    transition:all 0.4s ease;
}


.sub-item {
    width:100%;
}

.sub-item {
    width:100%;
}

.plus-submenu{
  display:none;
  z-index:2;
  width:50%;
}

/*
.sub-item-row {
  padding: 5px 0;
  .plus-menu {
      display: none;
  }
  &:hover {
      .plus-submenu {
          display: block;
         
      }
  }
}
*/

.sub-item-row{
  padding:5px 0px;

}

.sub-item-row .plus-submenu{
  display:none;
}

.sub-item-row:hover .plus-submenu{
  display:block;
}




/* Remake changes adding fixing new */

.mega-menu-section{
 position:fixed;
 width:100%;
 background:#ffff;
 z-index:88;
 top:0%;
 left:0;
}


