@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-Light.woff") format("woff"), url("/assets/fonts/Calibri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-LightItalic.woff") format("woff"), url("/assets/fonts/Calibri-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-BoldItalic.woff") format("woff"), url("/assets/fonts/Calibri-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-Bold.woff") format("woff"), url("/assets/fonts/Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-Italic.woff") format("woff"), url("/assets/fonts/Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/fonts/Calibri.woff") format("woff"), url("/assets/fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Main font size */
#app h1 {
  font-size: 45px;
  font-weight: bold;
}

#app h2 {
  font-size: 33px;
  font-weight: bold;
}

#app h3 {
  font-size: 25px;
  font-weight: bold;
}

#app h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

#app h5 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
}

#app button {
  font-family: "Calibri" !important;
}

/* COLORS */
/* Buttons */
/* Links */
/* Text variables */
/* Colors */
@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-Light.woff") format("woff"), url("/assets/fonts/Calibri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-LightItalic.woff") format("woff"), url("/assets/fonts/Calibri-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-BoldItalic.woff") format("woff"), url("/assets/fonts/Calibri-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-Bold.woff") format("woff"), url("/assets/fonts/Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/Calibri-Italic.woff") format("woff"), url("/assets/fonts/Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calibri';
  src: url("/assets/fonts/fonts/Calibri.woff") format("woff"), url("/assets/fonts/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Main font size */
#app h1 {
  font-size: 45px;
  font-weight: bold;
}

#app h2 {
  font-size: 33px;
  font-weight: bold;
}

#app h3 {
  font-size: 25px;
  font-weight: bold;
}

#app h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

#app h5 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
}

#app button {
  font-family: "Calibri" !important;
}

/* COLORS */
/* Buttons */
/* Links */
/* Text variables */
/* Colors */
/* Columns , layout */
/* Image object */
/* Products */
/* Buttons */
/* Product */
.blog-section {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

.blog-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-left {
  width: calc(100% - 300px);
  padding-right: 120px;
}

.blog-right {
  width: 305px;
}

.blog-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-element .feature-img {
  width: 46%;
}

.blog-element .feature-img img {
  width: 100%;
  height: auto;
}

.blog-element .description {
  width: 50%;
}

.description-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-bottom .btn-more {
  margin: 0 auto;
}

.btn-read {
  background: transparent !important;
  color: #3176C4 !important;
  font-weight: bold !important;
  font-family: "Calibri";
  border: none !important;
  padding: 5px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px !important;
}

.blog-cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-more {
  margin-top: 15px;
  background: #ffff !important;
  border-radius: 10px !important;
  border: 2px solid #3176C4 !important;
  padding: 10px 40px !important;
  font-family: "Calibri" !important;
  font-size: 19px !important;
  max-height: 40px;
  color: #3176C4 !important;
  max-height: 40px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  max-widt: 220px !important;
  margin-right: 5px;
}

.blog-bottom {
  padding-top: 50px;
}

.social-banner {
  position: relative;
  background-image: url("https://i.ibb.co/Mg9KGyD/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 150px;
}

.blog-banner {
  overflow: hidden;
  margin-top: 30px;
}

.blog-banner img {
  height: 200px;
}

.blog-banner h4 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333132;
}

.social-mini-content {
  padding-top: 10px;
  padding-left: 10px;
}

.btn-banner {
  background: #FFFFFF !important;
  color: #333132 !important;
  padding: 4px !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  max-height: 28px;
  width: 110px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px !important;
}

.btn-banner img {
  padding-right: 5px;
}

.social-box {
  position: absolute;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 5px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.social-box img {
  width: 100px;
  height: auto;
}

.social-box h5 {
  margin-bottom: 0px;
}

.social-box h5 {
  color: #ffff;
}

.social-box p {
  color: #ffff;
}

.social-row {
  position: absolute;
  bottom: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.blog-cats {
  padding-top: 30px;
  padding-left: 20px;
}

.blog-cats a {
  color: #333132;
  font-size: 18px;
}

.blog-cat {
  font-weight: bold;
  color: #333132;
}

#app .blog-date {
  color: #333132;
  font-size: 14px;
  font-family: "Calibri";
}

.description-txt h2 {
  color: #333132;
  font-weight: bold;
  font-size: 45px;
}

#app .description-txt h2 {
  line-height: 40px !important;
}

.description-txt p {
  color: #333132;
  font-size: 18px;
}

.blog-title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 30px;
}

.advertise {
  margin-top: 30px;
  height: 450px;
  background: #F0F4FA;
}

.description-top p {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
/*# sourceMappingURL=blog.css.map */